body {
  font-family: 'Poppins', serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(#221144, #000);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
}

header {
  z-index: 1;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  width: calc(100vw - 2rem);
}

footer {
  z-index: 1;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 2rem);
  
}

.h1, .h2, .h3, .h4 {
  color: white;
}

.item__details {
  position: absolute;
  right: 0;
  padding: 0 30px;
  bottom: 15vh;
  width: 100vw;
  text-align: right;
  opacity: 0;
  pointer-events: none;
  transition: 300ms;
}

@media (min-width: 600px) {
  .item__details {
    bottom: 30vh;
    width: 30vw;
  }
}

.item__title {
  font-size: calc(3vw + 10px);
  padding: 0;
  margin: 0;
  line-height: 1.3;  
}

.item__by {
  font-size: calc(1vw + 10px);
  color: skyblue;
  margin: 0.7vw 0 0;
}

.h4 {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

#logo {
  height: 16px;
  width: auto;
}
#sparkles {
  font-size: 24px;
  padding-right: 4px;
}

#app,
#app canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sparkle {
  position: fixed;
  left: 50vw;
  top: 50vh;
  z-index: -1;
}

.closeX {
  position: fixed;
  top: calc(50px + 2vh);
  left: calc(50vw - 20px);
  font-size: calc(20px + 3vw);
  line-height: 1;
  opacity: 0;
  transition: 1s;
  transform: scale(0.4);
}

.closeX:hover {
  color: #cc1144;
  transition: 200ms;
}

.isActive .closeX {
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}

.isActive .item__details {
  opacity: 1;
}

video {
  position: fixed;
  left: 99vw;
  opacity: 0;
}

.list-style-none {
  list-style: none!important;
}

.nav li {
  float: left;
  text-align: center;
  padding: .5rem;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-right {
  float: right;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: rgba(0,0,0,0.8);
  margin: 10% auto;
  padding: 1rem 2rem 1.5rem;
  border: 1px solid #888;
  border-radius: 3px;
  width: 80%;
  max-width: 480px;
}

.close {
  color:rgba(255,255,255,.5);
  float: right;
  font-size: 24px;
}

.close:hover,
.close:focus {
  color:rgba(255,255,255,1);
  text-decoration: none;
  cursor: pointer;
}

.member {
  margin-bottom: .5rem;
}

.member .title {
  color:rgba(255,255,255,.5);
}
.member .title::before {
  content: " - ";
}

.member .handle {
  color:rgba(255,255,255,.9);
}

.member .handle:hover,
.handle:focus {
  color:rgba(255,255,255,1);
  text-decoration: none;
  cursor: pointer;
}
