body {
  font-family: 'Poppins', serif;
  margin: 0;
  padding: 0;
  background: 
    radial-gradient(#221144, #000);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 1rem 1.6rem;
}
footer {
  z-index: 10;
  /* display: flex; */
  /* align-items: center; */
  margin: 1rem .8rem;
  position: fixed;
  bottom: 0;
  width: 100%!important;
}

.h1, .h2, .h3, .h4 {
  color: white;
}

.h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8px;

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  /* padding-right: 1rem; */
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#app,
#app canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sparkle {
  position: fixed;
  left: 50vw;
  top: 50vh;
  z-index: -1;
}

video {
  position: fixed;
  left: 99vw;
  opacity: 0;
}

.d-flex {
  display: flex!important;
}

.list-style-none {
  list-style: none!important;
}

.flex-wrap {
  flex-wrap: wrap!important;
}

.nav li {
  float: left;
  /* color: #f2f2f2; */
  text-align: center;
  /* padding-left: 1rem; */
  /* text-decoration: none; */
  /* font-size: 17px; */
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-right {
  float: right;
}