body {
  margin: 0;
  padding: 0;
  background: 
    radial-gradient(#221144, #000);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#app,
#app canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sparkle {
  position: fixed;
  left: 50vw;
  top: 50vh;
  z-index: -1;
}

video {
  position: fixed;
  left: 99vw;
  opacity: 0;
}