body {
  margin: 0;
  padding: 0;
  background: 
    radial-gradient(#221144, #000);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
}
#app,
#app canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sparkle {
  position: fixed;
  left: 50vw;
  top: 50vh;
  z-index: -1;
}

.closeX {
  position: fixed;
  top: 40px;
  left: calc(50vw - 20px);
  font-size: 80px;
  opacity: 0;
  transition: 1s;
  transform: scale(0.4);
}

.closeX:hover {
  color: #cc1144;
  transition: 200ms;
  transform: scale(0.9);
}

.isActive .closeX {
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}

video {
  position: fixed;
  left: 99vw;
  opacity: 0;
}